.nav-link {
    font-size: 1.25rem; 
    transition: background-color 0.5s ease, color 0.5s ease; 
    padding: 10px 15px; 
    margin-right: 20px; 
}

.nav-link:hover, .nav-link:focus {
    background-color: #e0e0e0; 
    color: #FF4500; 
}

.nav-button-container {
    margin-left: 15px; 
}

.logout-button {
    font-size: 1.25rem; 
    color: #007bff; 
    padding: 10px 15px; 
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease; 
}

.logout-button:hover, .logout-button:focus {
    background-color: rgba(0, 123, 255, 0.1); 
    transform: scale(1.05); 
    color: #0056b3; 
}

@media (max-width: 576px) {
    .nav-link {
        font-size: 1rem; 
        margin-right: 10px; 
    }

    .logout-button {
        font-size: 1rem; 
    }
}

.nav-link.active {
    background-color: #007bff; 
    color: white; 
}
